h1 {
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}
div p{
    margin: 0px 20px;
    text-align: justify;
}
img{
    border-radius: 0px;
    max-width: 80%;
    height: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
div div{
    display: block;
    margin-left: 50px;
}
p a:link {
  text-decoration: none;
}

p a:visited {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a:active {
  text-decoration: underline;
}